/*fonts and family*/
h1, h2, h3, h4, h5, h6, .head-25, .head-17, .head-22, .head-18, .head-16, .head-20, .head-28, .head-13, .head-35{
    font-family: Montserrat;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 19px;
}
h4{
    font-size: 15px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
.head-25{
    font-size: 25px;
}
.head-17{
    font-size: 17px;
}
.head-22{
    font-size: 22px;
}
.head-18{
    font-size: 18px;
}
.head-16{
    font-size: 16px;
}
.head-20{
    font-size: 20px;
}
.head-28{
    font-size: 28px;
}
.head-13{
    font-size: 13px;
}
.head-35{
    font-size: 35px;
}
/*colors*/
.bg-purple{
    background-color: #470F48;
}
.text-purple{
    color: #470F48;
}
.bg-white{
    background-color: #FFFFFF;
}
.bg-green{
    background-color: #317B3D;
}
.text-green{
    color: #317B3D;
}
.text-gray{
    color: #707070;
}
.bright-gray{
    color: #8D7F7F;
}
.bg-light-gray{
    background-color: #C4C4C4;
}
.text-light-gray{
    color: #000000B5;
}
.bg-yellow{
    background-color: #FFBB00;
}
.bg-light-ash{
    background-color: #75717126;
}
.bg-slight-white{
    background-color: #F5F2F5;
}
.bg-slighter-white{
    background-color: #F5F5F5;
}
.red{
    color: #F21515;
}
/*sect padding*/
.sect-padd{
    padding: 50px 0;
}
.padd-adj-20{
    margin-top: 20px;
}
.padd-adj-60{
    margin-top: 60px;
}
/*buttons*/
.btn-purple{
    padding: 5px 30px;
    border: 2px solid #470F48;
    border-radius: 4px;
    font-size: 15px;
    color: #000000;
    transition-duration: 1000ms;
    transition-property: background;
}
.btn-purple:hover{
    color: white;
    background-color: #470F48;
}
.btn-mod-purple{
    padding: 5px 30px;
    border-radius: 4px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #470F48;
    transition-duration: 1000ms;
    transition-property: background;
}
.btn-mod-purple:hover{
    color: #000000;
    border: 2px solid #470F48;
    background-color: #FFFFFF;
}
.btn-yellow{
    font-size: 18px;
    padding: 8px 40px;
    color: #000000;
    border-radius: 4px;
    font-weight: bold;
}
.btn-yellow:hover {
    color: #000000;
}
.btn-green{
    font-size: 18px;
    padding: 8px 40px;
    color: #000000;
    border-radius: 4px;
    font-weight: bold;
}
.btn-green:hover {
    color: #000000;
}
.pay-btn{
    border: 3px solid #470F48;
    border-radius: 4px;
    font-size: 15px;
}
.btn-plus {
    padding: 5px 10px;
    background-color: #470F48;
    border-radius: 50%;
    color: white;
}
.btn-black{
    background-color: black;
    padding: 5px 50px;
    border-radius: 5px;
    opacity: .7;
    font-size: 15px;
    color: #FFFFFF;
    transition-duration: 1000ms;
    transition-property: background;
}
.btn-black:hover{
    color: #000000;
    background-color: #FFFFFF;
}
/*links*/
a {
    text-decoration: none !important;
}





