<template>
    <div>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline"><img src="/assets/user-circle.svg" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link text-white" to="/event">Event</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline pr-2"><img src="/assets/group_240.png" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--account-second section-->
        <section class="upcoming-second-sect bg-purple pt-5 pb-1 text-white padd-adj-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="head-25">Account Overview</div>
                    </div>
                </div>
            </div>
        </section>

        <!--account third section-->
        <section class="sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="my-box p-3">
                            <div class="head-22 text-center font-weight-bold">Ihunanyachi <br> Amadi</div>
                            <h5 class="text-center py-3">Fan since 2019</h5>
                            <div class="text-center">
                                <router-link to="/account" class="btn btn-purple">Edit Profile</router-link>
                            </div>
                            <hr>
                            <h5 class="bright-gray">Email Address</h5>
                            <h5 class="py-1">thompsonamadi@gmail.com</h5>
                            <h5>Edit</h5>
                            <hr>
                            <h5 class="bright-gray">Phone Number</h5>
                            <h5 class="py-1">***-***-5591</h5>
                            <h5>Edit</h5>
                        </div>

                        <div class="my-box p-3 mt-5">
                            <div class="head-18">
                                <router-link to="/upcoming" class="text-purple">My Tickets</router-link>
                            </div>
                            <hr>
                            <div class="head-18">
                                <router-link to="/listing" class="text-purple">My Listings</router-link>
                            </div>
                            <hr>
                            <div class="head-18">
                                <router-link to="/settings" class="text-purple">Settings</router-link>
                            </div>
                            <hr>
                            <div class="head-18">
                                <router-link to="/payment-options" class="text-purple">Payments Options</router-link>
                            </div>
                            <hr>
                            <div class="head-18">
                                <router-link to="/gift-card" class="text-purple">Vouchers & Codes</router-link>
                            </div>
                        </div>

                        <div class="my-box p-3 mt-5">
                            <div class="head-22 font-weight-bold pb-3">We’re Here to Help</div>
                            <div class="head-17">Have questions about your account? Visit our Help Center to quickly find the answers you need, browse popular topics, and more ways to get in touch.</div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div>
                            <div>
                                <div class="head-20 font-weight-bold pb-4 pt-5 pt-sm-0">Sell Your Tickets on Ticketpanada</div>
                                <div class="my-box p-4">
                                    <div class="head-18 pb-3">The Safest Way to Sell Your Tickets. Only With Ticketpanda.</div>
                                    <div class="head-18">Sell your tickets in a safe and simple way, and instantly reach millions of fans who need seats.</div>
                                </div>
                            </div>

                            <div class="sect-padd">
                                <div class="head-20 font-weight-bold pb-4">Events We Think You’ll Love</div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="gallery-wrap">
                                            <div class="gallery-img">
                                                <img src="/assets/NoPath - Copy (13)-3.png" alt="">
                                            </div>
                                            <div class="px-2">
                                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                                <div class="d-flex justify-content-between pt-2 pb-1">
                                                    <h4><span class="mr-1"><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                                    <h4>4:30pm</h4>
                                                </div>
                                                <div class="text-center">
                                                    <router-link to="/ticket-detail" class="btn btn-purple">
                                                        Buy Ticket
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-md-4 col-sm-6">
                                        <div class="gallery-wrap">
                                            <div class="gallery-img">
                                                <img src="/assets/NoPath - Copy (12)-3.png" alt="">
                                            </div>
                                            <div class="px-2">
                                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                                <div class="d-flex justify-content-between pt-2 pb-1">
                                                    <h4><span class="mr-1"><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                                    <h4>4:30pm</h4>
                                                </div>
                                                <div class="text-center">
                                                    <router-link to="/ticket-detail" class="btn btn-purple">
                                                        Buy Ticket
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-md-4 col-sm-6">
                                        <div class="gallery-wrap">
                                            <div class="gallery-img">
                                                <img src="/assets/NoPath - Copy (13)-3.png" alt="">
                                            </div>
                                            <div class="px-2">
                                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                                <div class="d-flex justify-content-between pt-2 pb-1">
                                                    <h4><span class="mr-1"><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                                    <h4>4:30pm</h4>
                                                </div>
                                                <div class="text-center">
                                                    <router-link to="/ticket-detail" class="btn btn-purple">
                                                        Buy Ticket
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-box p-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div><img src="/assets/envelope.svg" alt=""></div>
                                        <div class="bg-purple btn check-img"><img src="/assets/check.svg" alt=""></div>
                                    </div>


                                    <div class="col-md-9">
                                        <div class="head-20 text-purple">GET EVENT NEWS YOU WANT</div>
                                        <div class="head-16 pt-2 pb-3">When you tell us who you love, we can tell you what they’re up to. Customize your subscriptions to get the latest, breaking news about all things live.</div>
                                        <div class="d-flex justify-content-end">
                                            <router-link to="/account" class="btn btn-purple">
                                                Customize Subscriptions
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--footer section-->
        <footer class="sect-padd bg-purple text-white footer-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5 pl-sm-0">
                        <h3>Resources</h3>
                        <h5>Pricing</h5>
                        <h5>Help</h5>
                        <h5>Contact</h5>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Legal</h3>
                        <h5>
                            <router-link class="text-white" to="/terms">Terms of Service</router-link>
                        </h5>
                        <h5>Privacy Policy</h5>
                    </div>
                    <div class="col-md-3 col-12 pt-5 pt-sm-0 px-5 px-sm-0">
                        <h3>Contact Us</h3>
                        <h5>246 Obil-wali Road Nkpolu Rumuigbo Port Harcourt Rivers State</h5>
                    </div>
                    <div class="col-md-3 col-12 pl-5 pl-sm-0">
                        <h3 class="d-flex  justify-content-start justify-content-sm-center pt-5 pt-sm-0">Follow us</h3>
                        <div class="d-flex  justify-content-sm-center foot">
                            <img src="/assets/Path 441.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/instagram.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/LinkedIn.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row"><div class="col-md-12 d-flex justify-content-center">
                    <h4 class="copy-right">@ 2019 Ticketpanda. All right reserved.</h4>
                </div></div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
   
}

</script>

<style scoped>


</style>