<template>
    <div>

    
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline"><img src="/assets/user-circle.svg" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline pr-2"><img src="/assets/group_240.png" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="sect-padd padd-adj-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Category</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Choose ticket</th>
                                    <th scope="col">Ticket name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <form>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Paid Ticket</option>
                                                    <option>Paid Ticket</option>
                                                    <option>Paid Ticket</option>
                                                    <option>Paid Ticket</option>
                                                    <option>Paid Ticket</option>
                                                </select>
                                            </div>
                                        </form>
                                    </th>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter a ticket name">
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="0.00">
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <router-link to="/add-event-2" class="btn btn-yellow bg-yellow w-100">+ Add another ticket</router-link>
                    </div>
                </div>
            </div>
        </section>

        <section class="sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 p-3"><img src="/assets/image.svg" alt=""></div>
                    <div class="col-md-7 px-5">
                        <h2 class="font-weight-bold padd-top">Image</h2>
                        <div class="head-16 py-3">A great image speaks louder than words, as long as it's a PNG, JPG or GIF file. For best results, use a high-resolution image. Images with as little text as possible work best.</div>
                        <router-link to="/add-event-2" class="btn btn-purple"><span><img src="/assets/upload.svg" class="pr-2" alt=""></span>Upload image</router-link>
                    </div>
                </div>
            </div>
        </section>

        <section class="sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="head-18">
                                <router-link to="/add-event" class="text-dark">Previous</router-link>
                            </div>
                            <router-link to="/add-event-2" class="btn btn-purple">Publish</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>