<template>
    <div>

   
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/events">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline"><img src="/assets/user-circle.svg" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link text-white" to="/events">Event</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline pr-2"><img src="/assets/group_240.png" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="sect-padd padd-adj-60">
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Event name:</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Organized by</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-6">
                        <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Starts at:</label>
                        <div class="input-group">
                            <input type="text" aria-label="First name" placeholder="Start date" class="form-control">
                            <input type="text" aria-label="Last name" placeholder="Start time:" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Ends at:</label>
                        <div class="input-group">
                            <input type="text" aria-label="First name" placeholder="End date" class="form-control">
                            <input type="text" aria-label="Last name" placeholder="End time:" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search location">
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="head-18"><span class="red pr-1 font-weight-bold">*</span>Address</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                                </textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <div class="head-18 d-flex justify-content-end">
                            <router-link class="text-dark" to="/add-event-2">NEXT</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>