<template>
  <div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <router-link class="navbar-brand" to="/">
            <img src="/assets/Layer 2.svg" alt="">
          </router-link>
            <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-nav-hid">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/event">Events</router-link>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#reg-mod">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="modal" data-target="#login-mod">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt="">
                </div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <router-link class="nav-link text-white" to="/event">
                            Events
                          </router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white my-menu-register" href="#" data-toggle="modal" data-target="#reg-mod">Register</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white my-menu-login" href="#" data-toggle="modal" data-target="#login-mod">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--register modal-->
        <div class="modal fade" id="reg-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head-20 font-weight-bold">Register</div>
                                <div class="head-16 pt-3">Explore millions of live events, receive alerts about your favorite artists and make checkout a snap when you sign up for a Ticketpanda account.</div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <h4 class="font-weight-bold">Full Name</h4>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your name here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Email</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type email here…">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="head-13 font-weight-bold">Phone Number</div>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Choose country</option>
                                                <option>nigeria</option>
                                                <option>nigeria</option>
                                            </select>
                                        </div>
                                    </div>
        
                                    <div class="col-md-6">
                                        <form class="">
                                            <div class="form-group pt-3">
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Number here...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Password</div>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type password here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Confirm Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                                    </div>
                                    <div class="head-13 pt-4">By submitting, you agree to our Terms and Purchase Policy, and understand your information will be used as described in our Privacy Policy.</div>
                                    <router-link to="/account" class="btn w-100 btn-mod-purple mt-3">
                                        Register
                                    </router-link>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center pt-3">Already have a Ticketpanda account?
                                    <a href="#login-mod" class="head-18 pl-1 text-purple" data-toggle="modal" data-target="#login-mod" data-dismiss="modal">Login
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

             <!-- login modal section -->
        <div class="modal fade" id="login-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head-20 font-weight-bold">Login</div>
                                <div class="head-16 pt-3">Discover millions of live events, receive alerts when your favorites hit the road, and checkout with ease with your Ticketpanda account.</div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <h4>Email</h4>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your email here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13">Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type password here…">
                                    </div>
                                    <div class="form-group form-check pl-0 pt-3">
                                        <input type="checkbox" class="check-form-input" id="exampleCheck1">
                                        <label class="form-check-label text-purple head-13" for="exampleCheck1">Remember Me</label>
                                    </div>
                                    <router-link class="btn w-100 btn-mod-purple mt-3" to="account">Login</router-link>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="head-13 text-center pt-3 text-purple">Forgot Password?</div>
                                <div class="d-flex justify-content-center pt-3">
                                    <div class="head-13">New to Ticketmaster?</div>
                                    <div class="head-13"><a href="#reg-mod" class="text-purple" data-dismiss="modal" data-toggle="modal" data-target="#reg-mod">Regitser Now</a></div>
                                </div>
                                <div class="head-13 text-center pt-3">By continuing past this page, you agree to our Terms of Use.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--payment-checkout1 modal-->
        <div class="modal fade" id="payment-checkout1-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd">
                        <div class="head-25 text-gray text-center pb-4">GET TICKETS</div>
                        <div class="container px-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name*</label>
                                            <input type="email" class="form-control bg-slight-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Email Address*:</label>
                                            <input type="password" class="form-control bg-slight-white" id="exampleInputPassword1" placeholder="Enter email address">
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name*</label>
                                            <input type="email" class="form-control bg-slight-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Phone 3umber*:</label>
                                            <input type="password" class="form-control bg-slight-white" id="exampleInputPassword1" placeholder="081 XXX X XXXX">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                   <a href="" class="btn btn-plus text-center">+</a> <h4 class="plus-head">ADD MORE TICKET</h4>
                                </div>
                            </div>
                            <div class="bottom-wrap">
                                <div class="head-17 d-inline-block pb-3 font-weight-bold">Total Ticket Cost:</div>
                                <div class="head-17 d-inline-block pl-4 font-weight-bold">₦25,000</div>
                                <div class="row justify-content-space-around">
                                    <a href="#payment-checkout2-1-mod" class="btn btn-mod-purple my-2 mr-2" data-dismiss="modal" data-toggle="modal" data-target="#payment-checkout2-1-mod">PAY</a>
                                    <router-link to="/buy-more" class="btn btn-mod-purple my-2 mx-md-3 mx-sm-0 mr-2">BUY MORE</router-link>
                                    <router-link to="/ticket-detail" class="btn btn-mod-purple my-2 mr-2">CANCEL</router-link>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--payment-checkout1-1 modal-->
        <div class="modal fade" id="payment-checkout1-1-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="#login-from-ticket-page-mod" data-dismiss="modal" class="head-16 pb-2 text-dark d-block font-weight-bold" data-toggle="modal" data-target="#login-from-ticket-page-mod">Login</a>
                                <a href="#payment-checkout1-mod" data-dismiss="modal" class="head-16 pb-2 text-dark d-block font-weight-bold" data-toggle="modal" data-target="#payment-checkout1-mod">Continue</a>
                                <div><span class="head-16">Don't have an account?</span><a href="#reg-mod" data-dismiss="modal" class="head-16 pb-2 text-dark d-inline-block ml-2 font-weight-bold" data-toggle="modal" data-target="#reg-mod">Register</a></div>
                                <router-link to="/ticket-detail" class="btn btn-mod-purple">CANCEL</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--payment-checkout2-1 modal-->
        <div class="modal fade" id="payment-checkout2-1-mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-end">
                                        <button type="button">
                                            <span aria-hidden="true">
                                                <router-link to="/ticket-detail" class="text-dark">&times;
                                                </router-link>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="head-20 font-weight-bold">TICKETER.NG</div>
                                        <h5 class="text-green padd-winny">winnymercy@gmail.com Pay NGN 10,000</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 bg-slight-white text-center py-3">
                                    <h4 class="py-3">PAY WITH</h4>
                                    <hr>
                                    <h4 class="py-3">Card</h4>
                                    <hr>
                                    <h4 class="py-3">GTB 737</h4>
                                    <hr>
                                    <h4 class="py-3">Visa QR</h4>
                                </div>

                                <div class="col-md-8">
                                    <div class="pay2-1-wrap">
                                        <form>
                                            <label for="inputEmail4" class="d-flex justify-content-center pb-2">Enter your card details to pay</label>
                                            <input class="form-control" type="text" placeholder="Default input">
                                            <div class="row pt-4">
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="CARD EXPIRY">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="CCV">
                                                </div>
                                            </div>
                                            <a href="" class="btn btn-green bg-green w-100 mt-5">PAY NGN 25,000</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!--login from ticket page modal-->
        <div class="modal fade" id="login-from-ticket-page-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Email</div>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your email here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type password here…">
                                    </div>
                                    <a href="#add-more-when-you-are-logged-in-mod" class="btn btn-mod-purple mt-2" data-dismiss="modal" data-toggle="modal" data-target="#add-more-when-you-are-logged-in-mod">CONTINUE</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--add more when you are logged in modal-->
        <div class="modal fade" id="add-more-when-you-are-logged-in-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd">
                        <div class="head-25 text-gray text-center pb-4 font-weight-bold">GET TICKETS</div>
                        <div class="container px-5">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <div>
                                        <div class="head-18 text-purple pb-3">A Regular Ticket Has been Added to your Tickets</div>
                                        <div class="head-18 text-purple pb-3">6 VIP Ticket Has been Added to your Tickets</div>
                                        <a href="" class="btn btn-plus text-center">+</a> <h4 class="plus-head font-weight-bold text-purple">ADD MORE TICKET</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row py-4">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Enter Name</label>
                                            <input type="email" class="form-control bg-slight-white" aria-describedby="emailHelp" placeholder="Enter Name">
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email Address</label>
                                            <input type="email" class="form-control bg-slight-white" aria-describedby="emailHelp" placeholder="Enter Email Address">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pt-5">
                                    <div class="head-17 d-inline-block pb-3 font-weight-bold">Total Ticket Cost:</div>
                                    <div class="head-17 d-inline-block pl-4 font-weight-bold">₦25,000</div>
                                    <div class="form-group form-check pl-0">
                                        <input type="checkbox" class="check-form-input" id="exampleCheck1">
                                        <label class="form-check-label text-purple" for="exampleCheck1">Save my card</label>
                                    </div>
                                    <div class="row justify-content-space-around">
                                        <a href="" class="btn btn-mod-purple my-2 mr-2">PAY</a>
                                        <a href="" class="btn btn-mod-purple my-2 mx-md-3 mx-sm-0 mr-2">BUY MORE</a>
                                        <a href="" class="btn btn-mod-purple my-2 mr-2">CANCEL</a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- add payment checkout2 modal -->
        <div class="modal fade" id="payment-checkout2-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd">
                        <div class="head-25 text-gray text-center pb-4">GET TICKETS</div>
                        <div class="container px-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name*</label>
                                            <input type="email" class="form-control bg-slight-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Email Address*:</label>
                                            <input type="password" class="form-control bg-slight-white" id="exampleInputPassword1" placeholder="Enter email address">
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name*</label>
                                            <input type="email" class="form-control bg-slight-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Phone Number*:</label>
                                            <input type="password" class="form-control bg-slight-white" id="exampleInputPassword1" placeholder="081 XXX X XXXX">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="" class="btn btn-plus text-center" id="add-more">+</a> <h4 class="plus-head">ADD MORE TICKET</h4>
                                </div>
                            </div>

                            <div class="row py-4">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Enter Name</label>
                                            <input type="email" class="form-control bg-slight-white" aria-describedby="emailHelp" placeholder="Enter Name">
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email Address</label>
                                            <input type="email" class="form-control bg-slight-white" aria-describedby="emailHelp" placeholder="Enter Email Address">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="bottom-wrap">
                                <div class="head-17 d-inline-block pb-3 font-weight-bold">Total Ticket Cost:</div>
                                <div class="head-17 d-inline-block pl-4 font-weight-bold">₦25,000</div>
                                <div class="row justify-content-space-around">
                                    <a href="#payment-checkout2-1-mod" class="btn btn-mod-purple my-2 mr-2" data-dismiss="modal"  data-toggle="modal" data-target="#payment-checkout2-1-mod">PAY</a>
                                    <router-link class="btn btn-mod-purple my-2 mx-md-3 mx-sm-0 mr-2" to="/buy-more">
                                        BUY MORE
                                    </router-link>
                                    <router-link class="btn btn-mod-purple my-2 mr-2" to="/ticket-detail">CANCEL
                                    </router-link>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--landing section-->
        <section class="landing-slide">
            <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view view-padd">
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(32).jpg"
                                alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h1 class="landing-h1 font-weight-bold">Soundcity Mvp Award Fstival Eko Hotel, Victorial Island Lagos.</h1>
                            <router-link to="/" class="btn bg-yellow btn-yellow">BUY TICKETS NOW</router-link> 
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view view-padd">
                            <img class="d-block w-100 h-100 slide-img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg"
                                alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <h1 class="landing-h1 font-weight-bold">Soundcity Mvp Award Fstival Eko Hotel, Victorial Island Lagos.</h1>
                            <router-link to="/" class="btn bg-yellow btn-yellow">BUY TICKETS NOW</router-link> 
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view view-padd">
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(33).jpg"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <h1 class="landing-h1 font-weight-bold">Soundcity Mvp Award Fstival Eko Hotel, Victorial Island Lagos.</h1>
                            <router-link to="/" class="btn bg-yellow btn-yellow">BUY TICKETS NOW</router-link>    
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <!--featured events section-->
        <section class="featured sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pb-4 feat-sect-head font-weight-bold">Featured Events</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (12)-2.png" alt="">
                                <div class="purple-date bg-purple text-center text-dark py-2">
                                    <div class="head-18 font-weight-bold text-white">May</div>
                                    <div class="head-18 font-weight-bold text-white">14</div>
                                </div>
                            </div>

                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (13)-1.png" alt="">
                            </div>

                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>      
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (12)-2.png" alt="">
                            </div>

                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (13)-1.png" alt="">
                            </div>

                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--popular event section-->
        <section class="featured sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pb-4 feat-sect-head font-weight-bold">Popular Events</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (12)-2.png" alt="">
                            </div>
                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>   
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (13)-1.png" alt="">
                            </div>
                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (12)-2.png" alt="">
                            </div>
                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="gallery-wrap">
                            <div class="gallery-img">
                                <img src="/assets/NoPath - Copy (13)-1.png" alt="">
                            </div>
                            <div class="px-2">
                                <h4 class="gallery-sound">Soundcity Mvp Award Festival Eko</h4>
                                <div class="d-flex justify-content-between">
                                    <h4><span><img src="/assets/map-marker-alt-5.svg" alt=""></span> Lagos</h4>
                                    <h4>4:30pm</h4>
                                </div>
                                <span class="d-flex justify-content-center">
                                    <router-link to="/ticket-detail" class="btn d-flex justify-content-center btn-purple">Buy Ticket
                                    </router-link>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--footer section-->
        <footer class="sect-padd bg-purple text-white footer-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5 pl-sm-0">
                        <h3>Resources</h3>
                        <h5>Pricing</h5>
                        <h5>Help</h5>
                        <h5>Contact</h5>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Legal</h3>
                        <h5>
                            <router-link class="text-white" to="/terms">
                                Terms of Service
                            </router-link>
                        </h5>
                        <h5>Privacy Policy</h5>
                    </div>
                    <div class="col-md-3 col-12 pt-5 pt-sm-0 px-5 px-sm-0">
                        <h3>Contact Us</h3>
                        <h5>246 Obil-wali Road Nkpolu Rumuigbo Port Harcourt Rivers State</h5>
                    </div>
                    <div class="col-md-3 col-12 pl-5 pl-sm-0">
                        <h3 class="d-flex  justify-content-start justify-content-sm-center pt-5 pt-sm-0">Follow us</h3>
                        <div class="d-flex  justify-content-sm-center foot">
                            <img src="/assets/Path 441.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/instagram.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/LinkedIn.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row"><div class="col-md-12 d-flex justify-content-center">
                    <h4 class="copy-right">@ 2019 Ticketpanda. All right reserved.</h4>
                </div></div>
            </div>
        </footer>
  </div>
</template>

<script>

//import Home from './Home'
//import EventPage from './EventPage'

export default {
  name: 'app',
  components: {
    //  Home,
    //  EventPage
    //Navigation,

  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
