<template>
    <div>
        <!--navigation-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline"><img src="/assets/user-circle.svg" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link text-white" to="/event">Event</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline pr-2"><img src="/assets/group_240.png" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--listing-second section-->
        <section class="upcoming-second-sect bg-purple pt-5 pb-1 text-white padd-adj-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <h4>My Listings</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head-18 d-flex justify-content-end">
                            <router-link to="/upcoming-event" class="text-purple font-weight-bold">
                                View My Events >
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--listing tab-->
        <section id="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <nav class="container">
                            <div class="row">
                                <div class="col-md-5 pr-0">
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-active-tab" data-toggle="tab" href="#nav-active" role="tab" aria-controls="nav-active" aria-selected="true">Active</a>
                                        <a class="nav-item nav-link" id="nav-sold-tab" data-toggle="tab" href="#nav-sold" role="tab" aria-controls="nav-sold" aria-selected="false">Sold</a>
                                        <a class="nav-item nav-link" id="nav-expired-tab" data-toggle="tab" href="#nav-expired" role="tab" aria-controls="nav-expired" aria-selected="false">Expired</a>
                                    </div>
                                </div>
                                <div class="col-md-7 nav nav-tabs nav-fill pl-0" id="nav-tab" role="tablist"></div>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-center py-5">
                                            <img class="file-img" src="/assets/file-alt.svg" alt="">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="upcoming-forth-flex">
                                                <div class="head-18 pb-2 font-weight-bold">You do not have any tickets listed for sale.</div>
                                                <div class="head-16 text-light-gray">Once you create a ticket listing, your details will be available here.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-sold" role="tabpanel" aria-labelledby="nav-sold-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-center py-5">
                                            <img class="file-img" src="/assets/file-alt.svg" alt="">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="upcoming-forth-flex">
                                                <div class="head-18 pb-2 font-weight-bold">You do not have any sold tickets.</div>
                                                <div class="head-16 text-light-gray">Once your tickets for sale are sold, your details will be available here.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-expired" role="tabpanel" aria-labelledby="nav-expired-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-center py-5">
                                            <img class="file-img" src="/assets/file-alt.svg" alt="">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="upcoming-forth-flex">
                                                <div class="head-18 pb-2 font-weight-bold">You do not have any expired ticket listings.</div>
                                                <div class="head-16 text-light-gray">Once your ticket listing expired, your details will be available here.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!--footer section-->
        <footer class="sect-padd bg-purple text-white footer-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5 pl-sm-0">
                        <h3>Resources</h3>
                        <h5>Pricing</h5>
                        <h5>Help</h5>
                        <h5>Contact</h5>
                    </div>

                    <div class="col-md-3 col-6">
                        <h3>Legal</h3>
                        <h5>
                            <router-link to="/terms" class="text-white">Terms of Service</router-link>
                        </h5>
                        <h5>Privacy Policy</h5>
                    </div>

                    <div class="col-md-3 col-12 pt-5 pt-sm-0 px-5 px-sm-0">
                        <h3>Contact Us</h3>
                        <h5>246 Obil-wali Road Nkpolu Rumuigbo Port Harcourt Rivers State</h5>
                    </div>

                    <div class="col-md-3 col-12 pl-5 pl-sm-0">
                        <h3 class="d-flex  justify-content-start justify-content-sm-center pt-5 pt-sm-0">Follow us</h3>
                        <div class="d-flex  justify-content-sm-center foot">
                            <img src="/assets/Path 441.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/instagram.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/LinkedIn.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row"><div class="col-md-12 d-flex justify-content-center">
                    <h4 class="copy-right">@ 2019 Ticketpanda. All right reserved.</h4>
                </div></div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>