<template>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline"><img src="/assets/user-circle.svg" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="nav-link d-inline pr-2"><img src="/assets/group_240.png" alt=""></span>Munachisom</a>
                                <div class="dropdown-menu my-box p-3" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" to="/account">My Account</router-link>
                                    <router-link class="dropdown-item" to="/listing">My Listings</router-link>
                                    <router-link class="dropdown-item" to="/settings">Settings</router-link>
                                    <router-link class="dropdown-item" to="/add-event">Sell</router-link>
                                    <router-link class="dropdown-item" to="/">Log Out</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--upcoming-second section-->
        <section class="upcoming-second-sect bg-purple pt-2 pb-1 text-white padd-adj-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <h4>Payment Options</h4>
                    </div>
                </div>
            </div>
        </section>

        <!--payment options third section-->
        <section class="sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="head-28 pr-2 pay-option-acct-border font-weight-bold">My Account</div>
                        <div class="head-28 pl-3 font-weight-bold">Welcome Munachisom</div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 d-flex edit-profile">
                        <h6 class="pr-1 pay-option-acct-border">Edit Profile</h6>
                        <h6 class="pl-2">Sign Out</h6>
                    </div>
                </div>
            </div>
        </section>

        <!--payment options forth section-->
        <section class="sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head-20 pb-2">Buying Tickets</div>
                        <div class="add-new-card bg-light-ash text-purple sect-padd">
                            <div class="head-17 d-flex justify-content-center font-weight-bold">Add New Card</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--payment options fifth section-->
        <section class="pay-option sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head-20 pb-2">Selling Tickets</div>
                        <div class="add-new-card bg-light-ash sect-padd">
                            <div class="head-16 pl-4 py-2">Get paid by direct deposit! (You can store only one debit card/bank account.)</div>
                            <div class="head-17 d-flex justify-content-center text-purple font-weight-bold">Add New account</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--footer section-->
        <footer class="sect-padd bg-purple text-white footer-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5 pl-sm-0">
                        <h3>Resources</h3>
                        <h5>Pricing</h5>
                        <h5>Help</h5>
                        <h5>Contact</h5>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Legal</h3>
                        <h5>
                            <router-link to="/terms" class="text-white">Terms of Service</router-link>
                        </h5>
                        <h5>Privacy Policy</h5>
                    </div>
                    <div class="col-md-3 col-12 pt-5 pt-sm-0 px-5 px-sm-0">
                        <h3>Contact Us</h3>
                        <h5>246 Obil-wali Road Nkpolu Rumuigbo Port Harcourt Rivers State</h5>
                    </div>
                    <div class="col-md-3 col-12 pl-5 pl-sm-0">
                        <h3 class="d-flex  justify-content-start justify-content-sm-center pt-5 pt-sm-0">Follow us</h3>
                        <div class="d-flex  justify-content-sm-center foot">
                            <img src="/assets/Path 441.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/instagram.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/LinkedIn.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row"><div class="col-md-12 d-flex justify-content-center">
                    <h4 class="copy-right">@ 2019 Ticketpanda. All right reserved.</h4>
                </div></div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>