<template>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#reg-mod">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#login-mod">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link text-white" to="/events">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link text-white my-menu-register" data-toggle="modal" data-target="#reg-mod">Register</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link text-white my-menu-login" data-toggle="modal" data-target="#login-mod">Login</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--register modal-->
        <div class="modal fade" id="reg-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head-20 font-weight-bold">Register</div>
                                <div class="head-16 pt-3">Explore millions of live events, receive alerts about your favorite artists and make checkout a snap when you sign up for a Ticketpanda account.</div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <h4 class="font-weight-bold">Full Name</h4>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your name here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Email</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type email here…">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="head-13 font-weight-bold">Phone Number</div>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Choose country</option>
                                                <option>nigeria</option>
                                                <option>nigeria</option>
                                            </select>
                                        </div>
                                    </div>
        
                                    <div class="col-md-6">
                                        <form class="">
                                            <div class="form-group pt-3">
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Number here...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Password</div>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type password here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Confirm Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                                    </div>
                                    <div class="head-13 pt-4">By submitting, you agree to our Terms and Purchase Policy, and understand your information will be used as described in our Privacy Policy.</div>
                                    <router-link class="btn w-100 btn-mod-purple mt-3" to="/account">Register</router-link>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center pt-3">Already have a Ticketpanda account?<span class="head-18 pl-1" data-toggle="modal" data-target="#login-mod">Login</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- login modal -->
        <div class="modal fade" id="login-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head-20 font-weight-bold">Login</div>
                                <div class="head-16 pt-3">Discover millions of live events, receive alerts when your favorites hit the road, and checkout with ease with your Ticketpanda account.</div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <h4>Email</h4>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your email here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13">Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type password here…">
                                    </div>
                                    <div class="form-group form-check pl-0 pt-3">
                                        <input type="checkbox" class="check-form-input" id="exampleCheck1">
                                        <label class="form-check-label text-purple head-13" for="exampleCheck1">Remember Me</label>
                                    </div>
                                    <router-link class="btn w-100 btn-mod-purple mt-3" to="/account">Login</router-link>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="head-13 text-center pt-3 text-purple">Forgot Password?</div>
                                <div class="d-flex justify-content-center pt-3">
                                    <div class="head-13">New to Ticketmaster?</div> 
                                    <div class="head-13">
                                        <router-link class="text-purple" data-toggle="modal" data-target="#reg-mod">Register Now</router-link>
                                    </div>
                                </div>
                                <div class="head-13 text-center pt-3">By continuing past this page, you agree to our Terms of Use.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="sect-padd bg-slighter-white padd-adj-20">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="head-28 font-weight-bold">Terms & Condition</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sect-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet neque augue, vitae convallis magna elementum ut. Vivamus quis bibendum erat, a auctor arcu. Aliquam ullamcorper efficitur erat, nec euismod augue ultrices eget. Nullam vel scelerisque mauris. Aliquam et auctor purus, in fermentum nisl. Quisque laoreet, risus sit amet tempor mollis, orci est dictum magna, sed malesuada sem ipsum ac nisl. Pellentesque dignissim dapibus lorem, vel pharetra velit. Proin eget nulla blandit, lobortis erat in, rhoncus mauris. Quisque a gravida justo. Donec fermentum libero egestas nulla lobortis suscipit. Suspendisse auctor ipsum consectetur mauris gravida, non tempor justo facilisis.</div>
                        <div class="head-16 pt-4 pb-1 font-weight-bold">Permitted Use</div>
                        <div class="head-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet neque augue, vitae convallis magna elementum ut. Vivamus quis bibendum erat, a auctor arcu. Aliquam ullamcorper efficitur erat, nec euismod augue ultrices eget. Nullam vel scelerisque mauris. Aliquam et auctor purus, in fermentum nisl. Quisque laoreet, risus sit amet tempor mollis, orci est dictum magna, sed malesuada sem ipsum ac nisl. Pellentesque dignissim dapibus lorem, vel pharetra velit. Proin eget nulla blandit, lobortis erat in, rhoncus mauris. Quisque a gravida justo. Donec fermentum libero egestas nulla lobortis suscipit. Suspendisse auctor ipsum consectetur mauris gravida, non tempor justo facilisis.</div>
                        <div class="head-16 pt-4 pb-1 font-weight-bold">Permitted Use</div>
                        <div class="head-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet neque augue, vitae convallis magna elementum ut. Vivamus quis bibendum erat, a auctor arcu. Aliquam ullamcorper efficitur erat, nec euismod augue ultrices eget. Nullam vel scelerisque mauris. Aliquam et auctor purus, in fermentum nisl. Quisque laoreet, risus sit amet tempor mollis, orci est dictum magna, sed malesuada sem ipsum ac nisl. Pellentesque dignissim dapibus lorem, vel pharetra velit. Proin eget nulla blandit, lobortis erat in, rhoncus mauris. Quisque a gravida justo. Donec fermentum libero egestas nulla lobortis suscipit. Suspendisse auctor ipsum consectetur mauris gravida, non tempor justo facilisis.</div>
                        <div class="head-16 pt-4 pb-1 font-weight-bold">Permitted Use</div>
                        <div class="head-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet neque augue, vitae convallis magna elementum ut. Vivamus quis bibendum erat, a auctor arcu. Aliquam ullamcorper efficitur erat, nec euismod augue ultrices eget. Nullam vel scelerisque mauris. Aliquam et auctor purus, in fermentum nisl. Quisque laoreet, risus sit amet tempor mollis, orci est dictum magna, sed malesuada sem ipsum ac nisl. Pellentesque dignissim dapibus lorem, vel pharetra velit. Proin eget nulla blandit, lobortis erat in, rhoncus mauris. Quisque a gravida justo. Donec fermentum libero egestas nulla lobortis suscipit. Suspendisse auctor ipsum consectetur mauris gravida, non tempor justo facilisis.</div>
                        <div class="head-16 pt-4 pb-1 font-weight-bold">Permitted Use</div>
                        <div class="head-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet neque augue, vitae convallis magna elementum ut. Vivamus quis bibendum erat, a auctor arcu. Aliquam ullamcorper efficitur erat, nec euismod augue ultrices eget. Nullam vel scelerisque mauris. Aliquam et auctor purus, in fermentum nisl. Quisque laoreet, risus sit amet tempor mollis, orci est dictum magna, sed malesuada sem ipsum ac nisl. Pellentesque dignissim dapibus lorem, vel pharetra velit. Proin eget nulla blandit, lobortis erat in, rhoncus mauris. Quisque a gravida justo. Donec fermentum libero egestas nulla lobortis suscipit. Suspendisse auctor ipsum consectetur mauris gravida, non tempor justo facilisis.</div>
                        <div class="head-16 pt-4 pb-1 font-weight-bold">Permitted Use</div>
                        <div class="head-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet neque augue, vitae convallis magna elementum ut. Vivamus quis bibendum erat, a auctor arcu. Aliquam ullamcorper efficitur erat, nec euismod augue ultrices eget. Nullam vel scelerisque mauris. Aliquam et auctor purus, in fermentum nisl. Quisque laoreet, risus sit amet tempor mollis, orci est dictum magna, sed malesuada sem ipsum ac nisl. Pellentesque dignissim dapibus lorem, vel pharetra velit. Proin eget nulla blandit, lobortis erat in, rhoncus mauris. Quisque a gravida justo. Donec fermentum libero egestas nulla lobortis suscipit. Suspendisse auctor ipsum consectetur mauris gravida, non tempor justo facilisis.</div>
                    </div>
                </div>
            </div>
        </section>

        <!--footer section-->
        <footer class="sect-padd bg-purple text-white footer-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5 pl-sm-0">
                        <h3>Resources</h3>
                        <h5>Pricing</h5>
                        <h5>Help</h5>
                        <h5>Contact</h5>
                    </div>

                    <div class="col-md-3 col-6">
                        <h3>Legal</h3>
                        <h5>
                            <router-link class="text-white" to="/terms">Terms of Service</router-link>
                        </h5>
                        <h5>Privacy Policy</h5>
                    </div>

                    <div class="col-md-3 col-12 pt-5 pt-sm-0 px-5 px-sm-0">
                        <h3>Contact Us</h3>
                        <h5>246 Obil-wali Road Nkpolu Rumuigbo Port Harcourt Rivers State</h5>
                    </div>

                    <div class="col-md-3 col-12 pl-5 pl-sm-0">
                        <h3 class="d-flex  justify-content-start justify-content-sm-center pt-5 pt-sm-0">Follow us</h3>
                        <div class="d-flex  justify-content-sm-center foot">
                            <img src="/assets/Path 441.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/instagram.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/LinkedIn.svg" alt="" class="pr-3 pr-sm-0">
                            <img src="/assets/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row"><div class="col-md-12 d-flex justify-content-center">
                    <h4 class="copy-right">@ 2019 Ticketpanda. All right reserved.</h4>
                </div></div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>