<template>
    <div>
        <div class="ticket-page-wrap">
        <!--navigation-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/assets/Layer 2.svg" alt="">
                </router-link>
                <button class="navbar-toggler" id="my-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-hid">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#reg-mod">Register</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#login-mod">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--side nav-->
        <div class="bg-purple" id="my-side-nav">
            <div class="container">
                <div class="d-flex justify-content-end py-4" id="my-menu-close"><img src="/assets/times (1).svg" alt=""></div>
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link text-white" to="/event">Events</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white my-menu-register" href="#" data-toggle="modal" data-target="#reg-mod">Register</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white my-menu-login" href="#" data-toggle="modal" data-target="#login-mod">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

         <!--register modal-->
        <div class="modal fade" id="reg-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head-20 font-weight-bold">Register</div>
                                <div class="head-16 pt-3">Explore millions of live events, receive alerts about your favorite artists and make checkout a snap when you sign up for a Ticketpanda account.</div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <h4 class="font-weight-bold">Full Name</h4>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your name here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Email</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type email here…">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="head-13 font-weight-bold">Phone Number</div>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Choose country</option>
                                                <option>nigeria</option>
                                                <option>nigeria</option>
                                            </select>
                                        </div>
                                    </div>
        
                                    <div class="col-md-6">
                                        <form class="">
                                            <div class="form-group pt-3">
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Number here...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Password</div>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type password here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Confirm Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                                    </div>
                                    <div class="head-13 pt-4">By submitting, you agree to our Terms and Purchase Policy, and understand your information will be used as described in our Privacy Policy.</div>
                                    <router-link class="btn w-100 btn-mod-purple mt-3" to="/account">
                                        Register
                                    </router-link>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center pt-3">Already have a Ticketpanda account?<span class="head-18 pl-1" data-dismiss="modal" data-toggle="modal" data-target="#login-mod"><a href="#login-mod" class="text-purple">Login</a></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

             <!-- login modal -->
        <div class="modal fade" id="login-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head-20 font-weight-bold">Login</div>
                                <div class="head-16 pt-3">Discover millions of live events, receive alerts when your favorites hit the road, and checkout with ease with your Ticketpanda account.</div>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <h4>Email</h4>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your email here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13">Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type password here…">
                                    </div>
                                    <div class="form-group form-check pl-0 pt-3">
                                        <input type="checkbox" class="check-form-input" id="exampleCheck1">
                                        <label class="form-check-label text-purple head-13" for="exampleCheck1">Remember Me</label>
                                    </div>
                                    <router-link class="btn w-100 btn-mod-purple mt-3" to="/account">Login</router-link>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="head-13 text-center pt-3 text-purple">Forgot Password?</div>
                                <div class="d-flex justify-content-center pt-3">
                                    <div class="head-13">New to Ticketmaster?</div>
                                    <div class="head-13"><a href="#reg-mod" class="text-purple" data-dismiss="modal" data-toggle="modal" data-target="#reg-mod">Regitser Now</a></div>
                                </div>
                                <div class="head-13 text-center pt-3">By continuing past this page, you agree to our Terms of Use.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--payment-checkout1-1 modal-->
        <div class="modal fade" id="payment-checkout1-1-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="#login-from-ticket-page-mod" data-dismiss="modal" class="head-16 pb-2 text-dark d-block font-weight-bold" data-toggle="modal" data-target="#login-from-ticket-page-mod">Login</a>
                                <a href="#payment-checkout2-mod" data-dismiss="modal" class="head-16 pb-2 text-dark d-block font-weight-bold" data-toggle="modal" data-target="#payment-checkout2-mod">Continue</a>
                                <div><span class="head-16">Don't have an account?</span><a href="#reg-mod" data-dismiss="modal" class="head-16 pb-2 text-dark d-inline-block ml-2 font-weight-bold" data-toggle="modal" data-target="#reg-mod">Register</a></div>
                                <router-link to="/ticket-detail" class="btn btn-mod-purple">CANCEL</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- add payment checkout2 modal -->
        <div class="modal fade" id="payment-checkout2-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container sect-padd">
                        <div class="head-25 text-gray text-center pb-4">GET TICKETS</div>
                        <div class="container px-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name*</label>
                                            <input type="email" class="form-control bg-slight-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Email Address*:</label>
                                            <input type="password" class="form-control bg-slight-white" id="exampleInputPassword1" placeholder="Enter email address">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name*</label>
                                            <input type="email" class="form-control bg-slight-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Phone Number*:</label>
                                            <input type="password" class="form-control bg-slight-white" id="exampleInputPassword1" placeholder="081 XXX X XXXX">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="" class="btn btn-plus text-center" id="add-more">+</a> <h4 class="plus-head">ADD MORE TICKET</h4>
                                </div>
                            </div>

                            <div class="row py-4">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Enter Name</label>
                                            <input type="email" class="form-control bg-slight-white" aria-describedby="emailHelp" placeholder="Enter Name">
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email Address</label>
                                            <input type="email" class="form-control bg-slight-white" aria-describedby="emailHelp" placeholder="Enter Email Address">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="bottom-wrap">
                                <div class="head-17 d-inline-block pb-3 font-weight-bold">Total Ticket Cost:</div>
                                <div class="head-17 d-inline-block pl-4 font-weight-bold">₦25,000</div>
                                <div class="row justify-content-space-around">
                                    <a href="#payment-checkout2-1-mod" class="btn btn-mod-purple my-2 mr-2" data-dismiss="modal"  data-toggle="modal" data-target="#payment-checkout2-1-mod">PAY</a>
                                    <router-link to="/buy-more" class="btn btn-mod-purple my-2 mx-md-3 mx-sm-0 mr-2">
                                        BUY MORE
                                    </router-link>
                                    <router-link to="/ticket-detail" class="btn btn-mod-purple my-2 mr-2">
                                        CANCEL
                                    </router-link>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--payment-checkout2-1 modal-->
        <div class="modal fade" id="payment-checkout2-1-mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-end">
                                        <button type="button">
                                            <span aria-hidden="true">
                                                <router-link to="/ticket-detail" class="text-dark">
                                                    &times;
                                                </router-link>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="head-20 font-weight-bold">TICKETER.NG</div>
                                        <h5 class="text-green padd-winny">winnymercy@gmail.com Pay NGN 10,000</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 bg-slight-white text-center py-3">
                                    <h4 class="py-3">PAY WITH</h4>
                                    <hr>
                                    <h4 class="py-3">Card</h4>
                                    <hr>
                                    <h4 class="py-3">GTB 737</h4>
                                    <hr>
                                    <h4 class="py-3">Visa QR</h4>
                                </div>

                                <div class="col-md-8">
                                    <div class="pay2-1-wrap">
                                        <form>
                                            <label for="inputEmail4" class="d-flex justify-content-center pb-2">Enter your card details to pay</label>
                                            <input class="form-control" type="text" placeholder="Default input">
                                            <div class="row pt-4">
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="CARD EXPIRY">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="CCV">
                                                </div>
                                            </div>
                                            <router-link class="btn btn-green bg-green w-100 mt-5" to="/ticket-detail">
                                                PAY NGN 25,000
                                            </router-link>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <!--login from ticket page modal-->
        <div class="modal fade" id="login-from-ticket-page-mod" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="container sect-padd px-5">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Email</div>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your email here...">
                                    </div>
                                    <div class="form-group pt-3">
                                        <div class="head-13 font-weight-bold">Password</div>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type password here…">
                                    </div>
                                    <a href="#add-more-when-you-are-logged-in-mod" class="btn btn-mod-purple mt-2" data-dismiss="modal" data-toggle="modal" data-target="#add-more-when-you-are-logged-in-mod">CONTINUE</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ticket detail first section-->
        <section>
            <div class="container-fluid">
                <div class="row pt-5">
                    <div class="col-md-6 pt-5 ticket-hero text-white ticket-over-first">
                        <div class="yellow-date bg-yellow text-center text-dark py-2">
                            <div class="head-25 font-weight-bold">JAN</div>
                            <div class="head-25 font-weight-bold">5</div>
                        </div>
                        <div class="head-35 tic-first-home font-weight-bold">Soundcity MVP Award Festival</div>
                        <div class="head-35 font-weight-bold">Eko Hotel, Victorial Island Lagos</div>
                        <div class="head-20 pt-2">Event description goes here and more description for other things goes here and more and more so I cant say them all.</div>
                        <div>
                            <div class="head-20 ticket-end">Share Event</div>
                            <img src="/assets/.svg" alt="">
                            <img class="pl-3" src="/assets/.svg" alt="">
                        </div>
                    </div>

                    <div class="col-md-6 ticket-over-second">
                        <div class="head-25 font-weight-bold text-center tic-second-col">Ticket Details</div>
                        <div class="row pt-5">
                            <div class="col-md-6 col-6 my-1">
                                <a href="" class="text-dark"  data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-slighter-white">
                                        <h4>SILVER TABLE</h4>
                                        <div class="head-25 font-weight-bold"><span class="head-20">NGN</span> 40,000.00</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-6 my-1">
                                <a href="" class="text-dark"  data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-slighter-white">
                                        <h4>GOLD TABLE</h4>
                                        <div class="head-25 font-weight-bold"><span class="head-20">NGN</span> 80,000.00</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-6 col-6 my-1">
                                <a class="text-dark" href="" data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-yellow">
                                        <h4>REGULAR</h4>
                                        <div class="head-25 font-weight-bold"><span class="head-20">NGN</span> 10,000.00</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-6 my-1">
                                <a class="text-dark" href="" data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-slighter-white">
                                        <h4>VIP</h4>
                                        <div class="head-25 font-weight-bold"><span class="head-20">NGN</span> 20,000.00</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-6 col-6 my-1">
                                <a href="" class="text-dark" data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-yellow">
                                        <h4>PLATINUM</h4>
                                        <div class="head-25 font-weight-bold"><span class="head-20">NGN</span> 10,000.00</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-6 my-1">
                               <a href="" class="text-dark" data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-slighter-white">
                                        <h4>VIP</h4>
                                        <div class="head-25 font-weight-bold"><span class="head-20">NGN</span> 20,000.00</div>
                                    </div>
                               </a>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-6 col-6 my-1">
                                <div class="row m-0 h-100">
                                    <button class="btn border col-3 raduis-adj font-weight-bold my-border">-</button>
                                    <input type="text" class="form-control col-6 h-100 raduis-adj text-center font-weight-bold" placeholder="1">
                                    <button class="btn border col-3 raduis-adj font-weight-bold my-border">+</button>
                                </div>
                            </div>

                            <div class="col-md-6 col-6 my-1">
                                <a href="" class="text-dark" data-toggle="modal" data-target="#payment-checkout1-1-mod">
                                    <div class="ticket-box p-4 bg-slighter-white">
                                        <div class="head-18 font-weight-bold">PAY NGN 10,000.00</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>