body{
    margin: 0;
    padding: 0;
}
body.open{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.cont-test{
    height: 100vh;
}









#wrap {
    background: green;
    text-align: center;
    width: 80%;  
}

#left, #right {
     background: blue;
     display: inline-block;    
     padding: 2%;   
}

/*general img*/
img{
    max-width: 100%;
}
/*navigation*/
.navbar-nav {
    margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../assets/ic_nav.png);
}
.navbar-light .navbar-toggler {
    border-color: #FFFFFF;
}
  .navbar-toggler:focus, .navbar-toggler:active{
    outline: none;
    box-shadow: none;
}
/*side navigation*/
#my-side-nav.open{
    display: block;
}

#my-side-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    z-index: 1200; 
    display: none;
}
/*landing section*/
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}
.carousel-caption {
    bottom: 185px;
}
.carousel-indicators li {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.landing-h1{
    padding-bottom: 30px;
}
/*featured section*/
.gallery-wrap{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    padding-bottom: 20px;
}
.gallery-sound{
    padding-top: 15px;
}
/*footer*/
.footer-sect h5{
    padding: 10px 0;
}
.foot img{
    padding: 10px 0 0 25px;
}
/*upcoming-forth-section*/
.upcoming-forth-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
}
.file-img{
    border: 55px solid #C4C4C42E;
    border-radius: 50%;
}
.no-padding-r{
    padding-right: 0;
}
/*payment option section*/
.pay-option-acct-border{
    border-right: 1px solid #707070;
}
/*payment2-1 modal*/
.modal {
    overflow-y:auto;
  }
.pay2-1-wrap{ 
    padding: 85px 35px;
}
.padd-winny{
    padding: 0 130px;
}
/*gift card*/
.help-card-wrap{
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #70707045;
    border-radius: 6px;
    opacity: 1;
}
.grp-img{
    padding: 80px 50px;
    border: 3px solid #7070708C;
    border-radius: 50%;
}
/*payment checkout modal*/
.con-top{
    padding: 50px 0;
}
label {
    font-size: 12px;
}
.form-control {
    font-size: 12px;
}
.plus-head{
    display: inline-block;
    padding-left: 10px;
}
.bottom-wrap{
    padding-top: 100px;
}
button, input, optgroup, select, textarea {
    border: none;
    background-color: white;
}
/*ticket detail page*/
.ticket-page-wrap{
    max-height: 100vh;
}
.ticket-box{
    box-shadow: 0px 3px 6px #000000B3;
}
.ticket-over-first{
    padding-left: 100px;
}
.ticket-over-second{
    padding-right: 100px;
}
.tic-first-home {
    padding-top: 180px;
}
.ticket-end {
    padding-top: 120px;
}
.ticket-hero{
    background:linear-gradient(
        rgba(71, 15, 72, 0.84),rgba(71, 15, 72, 0.84)), url('/assets/aditya-chinchure-494048-unsplash.png');  
    background-repeat: no-repeat;
    background-size: cover; 
    height: 768px;
}
.tic-second-col{
    padding-top: 100px;
}
.padd-adj{
    margin-top: 20px;
}
.raduis-adj{
    border-radius: 0;
    border: 1px solid #707070;
}
.my-border{
    border: 1px solid #707070 !important;
}
/*event page*/
.hero-img {
    background:linear-gradient(
        rgba(71, 15, 72, 0.68),rgba(71, 15, 72, 0.68)), url('/assets/slim-emcee-ug-the-poet-truth_from_africa_photography-448307-unsplash.png');  
    background-repeat: no-repeat;
    background-size: cover; 
    height: 350px;
}
.yellow-border-bottom{
    border-bottom: 5px solid #FFBB00;
}
.yellow-border-top{
    border-top: 5px solid #FFBB00;
}
.hero-overlay{
    margin-top: -205px;
    background-color: white;
}
.hero-text{
    padding-top: 65px;
}
.yellow-date {
    width: 103px;
    height: 85px;
    position: relative;
    top: 85px;
    left: 445px;
}
.purple-date{
    width: 91px;
    height: 65px;
}
/*add event*/
textarea.form-control {
    height: 195px;
}
/*add events 2*/
.table td, .table th {
    padding: 30px 10px;
}
.padd-top{
    padding-top: 100px;
}
/*account section*/
.my-box{
    box-shadow: 0px 3px 6px #0000001A;
    border-radius: 6px;
}
.check-img{
    border-radius: 45%;
    position: relative;
    top: -20px;
    padding: 8px 12px;
    right: -85px;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 7rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #FFFFFF;
    background-color: #470F48;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}

/*tab section*/
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3; 
    border-bottom: 4px solid #470F48 !important;
    font-size: 20px;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
/*my tab*/
.nav-tabs {
    border-bottom: 5px solid #C4C4C4;
}
#tabs .nav-tabs .nav-link {
    color: #000000;
    font-size: 18px; 
}
#tabs .nav-tabs .nav-link.active {
    color: #C4C4C4;
    font-size: 18px;
    margin: -5px;
}


/*responsive*/
@media (max-width: 1280px){
    body{
        background-color: blu;
    }
    .carousel-caption {
        bottom: 100px;
    }
    h1{
        font-size: 50px !important;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .view-padd{
        padding-top: 20px;
    }
    h5 {
        font-size: 12px !important;
    }
    h4{
        font-size: 13px !important;
    }
    .edit-profile{
        padding-left: 60px;
    }
    .head-35 {
        font-size: 28px !important;
    }
    .padd-top {
        padding-top: 65px;
    }
    .ticket-over-second {
        padding-right: 60px;
    }
    .ticket-over-first {
        padding-left: 55px;
    }
    .head-25 {
        font-size: 23px !important;
    }
    .ticket-hero {
        height: 870px;
    }
    .yellow-date {
        left: 320px;
    }
}

@media (max-width: 991px){
    body{
        background-color: re;
    }
    h1{
        font-size: 35px !important;
    }
    .carousel-caption {
        bottom: 60px;
    }
    .buy-btn {
        padding: 5px 25px !important;
        font-size: 8px !important;
    }
    h4 {
        font-size: 10px !important;
    }
    h3 {
        font-size: 15px !important;
    }
    h5{
        font-size: 11px !important;
    }
    .footer-sect h5 {
        padding: 5px 0 !important;
    }
    .foot img {
        padding: 10px 0 0 15px;
        max-width: 18%;
    }
}

@media (max-width: 769px){
    body{
        background-color: gree;
    }
    .navbar-nav-hid {
        display: none;
    }
    .view-padd {
        padding-top: 40px;
    }
    .col-sm-6{
        padding-top: 30px;
    }
    .copy-right{
        padding-top: 50px;
    }
    .foot img {
        padding: 10px 0 0 11px;
        max-width: 15%;
    }
    .edit-profile{
        padding-left: 90px;
    }
    .head-18 {
        font-size: 11px !important;
    }
    h4 {
        font-size: 9px !important;
    }
    .head-16 {
        font-size: 15px !important;
    }
    .head-35 {
        font-size: 21px !important;
    }
    .event-page-gallery .btn-purple {
        padding: 5px 5px;
        font-size: 10px;
    }
    .hero-text {
        padding-top: 95px ;
    }
    .padd-top {
        padding-top: 12px;
    }
    .ticket-over-first {
        padding-left: 36px;
    }
    .ticket-over-second {
        padding-right: 30px;
    }
    .padd-winny {
        padding: 0px 7px;
    }
    .yellow-date {
        left: 220px;
    }
    .btn-purple {
        font-size: 10px !important;
    }
    .check-img {
        right: -50px;
    }
}

@media (max-width: 650px){
    body{
        background-color: pin;
    }
    .event-page-gallery .btn-purple {
        padding: 5px 30px;
        font-size: 15px;
    }
    h1 {
        font-size: 25px !important;
    }
    .carousel-caption {
        bottom: 50px;
    }
    .btn-yellow {
        font-size: 11px !important;
    }
    h2{
        font-size: 20px !important;
    }
    .feat-sect-head{
        padding-bottom: 0 !important;
    }
    .modal-content {
        margin-bottom: 50px;
    }
    h4 {
        font-size: 10px !important;
    }
    .head-25 {
        font-size: 25px !important;
    }
    .btn-purple {
        font-size: 15px !important;
    }
    .check-img {
        right: -85px;
    }
}

@media (max-width: 575px){
    body{
        background-color: purpl;
    }
    .landing-h1 {
        padding-bottom: 10px !important;
    }
    .gallery-img img{
        width: 100%;
    }
    .hero-overlay {
        margin-top: -65px;
        background-color: white;
    }
    .hero-img {
        height: 100%;
    }
    .no-padding-r{
        padding-right: 15px;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .ticket-over-second {
        padding-right: 15px;
    }
}

@media (max-width: 491px){
    body{
        background-color: burlywoo;
    }
    .view img{
        height: 50vh !important;
    }
    .view-padd {
        padding-top: 0px;
    }
    h4 {
        font-size: 12px !important;
    }
    .carousel-caption {
        bottom: 60px;
    }
    .carousel-indicators li {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    .btn-yellow {
        font-size: 10px !important;
        padding: 8px 20px !important;
    }
    .btn-purple {
        padding: 5px 20px;
    }
    .head-16 {
        font-size: 12px !important;
    }
    .head-18 {
        font-size: 13px !important;
    }
    .head-22 {
        font-size: 16px !important;
    }
    .head-28 {
        font-size: 15px !important;
    }
    h6 {
        font-size: 10px !important;
    }
    .edit-profile {
        padding-left: 135px;
    }
    .head-20 {
        font-size: 18px !important;
    }
    .head-13 {
        font-size: 10px !important;
    }
    .head-25 {
        font-size: 20px !important;
    }
    .hero-text {
        padding-top: 5px;
        padding-bottom: 25px;
    }
    .padd-winny {
        padding: 0px 46px;
    }  
}

@media (max-width: 320px){
    body{
        background-color: gre;
    }
    .view-padd {
        padding-top: 10px;
    }
    h1{
        font-size: 20px !important;
    }
    .btn-purple {
        font-size: 10px !important;
    }
    .head-16 {
        font-size: 11px !important;
    }
    .head-28 {
        font-size: 12px !important;
    }
    h6 {
        font-size: 9px !important;
    }
    .edit-profile {
        padding-left: 118px;
    }
    .head-16 {
        font-size: 9px !important;
    }
    .head-17 {
        font-size: 14px !important;
    }
    .head-13 {
        font-size: 9px !important;
    }
    .head-18 {
        font-size: 12px !important;
    }
    h5 {
        font-size: 9px !important;
    }
    .head-35 {
        font-size: 18px !important;
    }
    .head-20 {
        font-size: 13px !important;
    }
    .head-25 {
        font-size: 16px !important;
    }
    .padd-winny {
        padding: 0px 22px;
    }
    .btn-green {
        font-size: 13px !important;
    }
    .yellow-date {
        left: 160px;
    }
    h4 {
        font-size: 9px !important;
    }
}
